.container {
    position: absolute;
    top: 45%;
    text-align: center;
    background-color: #acbec7;
    width: 100%;
    font-weight: bold;
    padding: 2rem 0;
}

.text {
    font-size: 2rem;
}

.button {
    margin-top: 1rem;
    padding: .5rem 2rem;
    border: dashed .1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 7px;
}

.button:hover {
    background-color: lightgray;
}