.container {
    flex-basis: 33.33%;
    text-align: end;
}

.icon {
    background-color: #acbec7;
    padding: .75rem;
    border-radius: 5px;
    box-shadow: 0 .4rem #738892;
    cursor: pointer;
}

.icon:hover {
    background-color:#dfeef4;
}