.container {
    width: 75%;
    margin: 3rem auto;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.result-container {
    display: flex;
    justify-content: space-between;
}